.vehicle-form {
   text-align: center;
}
.parking-lot-status {
  text-align: center;
  font-weight: bold;
}
.btn {
  border-radius: 25rem;
  cursor: pointer;
  background-color: #1877F2;
}
.Booked {
  background-color: #ff4d4d;
}

.vacant {
  background-color: #aaffaa;
}